section{
    text-align: center;
    background-color: skyblue;
    width: 600px;
    height: 300px;
    margin-left: 350px;
    margin-top: 200px;
    padding-top: 1px;
    padding-bottom: 15px;
}

body{
    background-color: rgb(136, 250, 250);
}

#telefone{
    width: 200px;
}

#quantidade{
    width: 210px;
}