.sucos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

img{
    margin: 50px;
    height: 500px;
    width: 500px;
    border: solid 5px #f35086;
}

body{
    background-color: #f1ffff;
}

#titulo{
    text-align: center;
    color:  #f35086;
    border: solid 2px #f35086;
    border-radius: 100px 100px 100px 100px;
    font-family: cursive;
}

button{
    position: relative;
    top: -12px;
    color:  #ab0768;
    border: solid 2px #ab0768;
    border-radius: 3px;
    cursor: pointer;
}

h3{
    position: relative;
    left: 20px;
    color: #f35086;
}

a{
    margin-right: 20px;
    position: relative;
    left: 20px;
    color: #f35086;
}

p{
    margin-left: 50px;
}

#suco1{
    position: relative;
    top: -25px;
    height: -20px;
    display: flex;
    flex-wrap: wrap;
}

#b1{
    height: 24px;;
    width: 100px;
    margin-left: 15px;
}

#suco2{
    position: relative;
    top: -25px;
    height: -20px;
    display: flex;
    flex-wrap: wrap;
}

#b2{
    height: 24px;
    width: 100px;
    margin-left: 15px;
}

#suco3{
    position: relative;
    top: -25px;
    height: -20px;
    display: flex;
    flex-wrap: wrap;
}

#b3{
    height: 24px;
    width: 100px;
    margin-left: 15px;
}

#suco4{
    position: relative;
    top: -25px;
    height: -20px;
    display: flex;
    flex-wrap: wrap;
}

#b4{
    height: 24px;
    width: 100px;
    margin-left: 15px;
}

#suco5{
    position: relative;
    top: -25px;
    height: -20px;
    display: flex;
    flex-wrap: wrap;
}

#b5{
    height: 24px;
    width: 100px;
    margin-left: 15px;
}

#suco6{
    position: relative;
    top: -25px;
    height: -20px;
    display: flex;
    flex-wrap: wrap;
}

#b6{
    height: 24px;
    width: 100px;
    margin-left: 15px;
}
